*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

main{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}
/* barra sinistra  */
nav{
    height: calc(100vh - 60px);
    width: 40px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menu {
    margin-top: 5px;
    width: 25px;
    height: calc(100% - 80px);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 100%;
    margin-bottom: 10px;
}

#logo_piccolo{
    width: 100%;
}

#logo_grande{
    display: none;
    width: 60%;
}

.menu_nav{
    width: 80%;
    fill: rgb(200, 200, 200);
}

.icone_nav{
    width: 22px;
}

.icone_nav:hover svg,
#download:hover svg{
    fill: #fff
}

#setting{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    fill: rgb(200, 200, 200);
}
#download{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#down_icona{
    width: 15px;
    height: 15px;
}

#download span{
    font-size: 10px;
    display: none;
    color: rgb(127, 125, 132);
}

#user{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#user_icona{
    background-color: rgb(109, 109, 109);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    fill: #fff;
    overflow: hidden;
    cursor: pointer;
}

#user h4{
    font-size: 10px;
    display: none;
    color: #fff;
}

/* parte centrale  */
.main_destro{
    height: 100%;
    width: calc(100% - 40px);
    background-color: rgb(16, 19, 25);
    display: inline-block;
    position: relative;
    left: 40px;
}

#up_piano{
    width: calc(100% - 40px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 40px;
    z-index: 2;
}

#up_bottone{
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    padding: 10px 25px;
    border: solid 1px #fff;
    margin-right: 15px;
    cursor: pointer;
}

.contenitore_bottone:hover #up_bottone{
    transform: scale(1.1);
}

/* parte centrale musicale  */
.parte_centrale{
    height: calc(100vh - 60px);
    width: 100%;
    background-color: rgb(20, 25, 34);
    overflow: scroll;
    padding-top: 70px;
}

#lista{
    list-style-type: none;
    color: rgb(105, 108, 113);
    text-align: center;
    font-weight: 800;
    font-size: 8px;
}

#lista li{
    display: inline-block;
    margin: 10px 8px;
    cursor: pointer;
    position: relative;
}

#lista li:hover .lista_testo{
    color: #fff;
}

.linea_selezione{
    width: 18px;
    height: 2px;
    background-color: rgb(191, 253, 91);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2px;
}

.brani_recenti,
.creato_per{
    width: 92%;
    margin: 20px auto;
}

.brani_recenti h4,
.creato_per h4{
    font-weight: 800;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.brani,
.artisti{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singoli_brani,
.singoli_artisti{
    width: 48%;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.album,
.foto_artisti{
    width: 100%;
    position: relative;
}

.album .far.fa-play-circle,
.foto_artisti .far.fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    display: none;
}

.singoli_brani:hover .filter_play,
.singoli_artisti:hover .filter_play{
    filter: opacity(.5)
}

.singoli_brani:hover .far.fa-play-circle,
.singoli_artisti:hover .far.fa-play-circle{
    display: block;
}

.album img,
.foto_artisti img{
    width: 100%;
}

.foto_artisti img{
    border-radius: 50%;
}

.singoli_brani h5,
.singoli_artisti h5{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    font-size: 12px;
}

.singoli_brani span,
.singoli_artisti span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(127, 125, 132);
}
/* comandi musicali */
footer{
    width: 100%;
    height: 60px;
    background-color: rgb(30, 30, 30);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer right  */
#volume_share{
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

#volume_share .fas{
    cursor: pointer;
}

.bar_volume{
    width: 60px;
    display: inline-block;
}
/* barra con pallino  */
.bar{
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    margin: 0 2px;
}

.bar_complete{
    width: 25%;
    height: 100%;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}

.bar_selection{
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    display: none;
}

.bar:hover .bar_complete{
    background-color: rgb(191, 253, 91);
}

.bar:hover .bar_selection{
    display: block;
}

/* footer left  */
#ascolto{
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.brano{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#copertina{
    width: 30%;
}

#copertina img{
    width: 100%;
}

.brano_autore{
    width: 60%;
    font-weight: 800;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.nome_autore{
    font-size: 9px;
    color: rgb(127, 125, 132);
}

.folder_like{
    width: 18px;
    font-size: 15px;
    color: rgb(109, 109, 109);
    cursor: pointer;
}

.nome_brano:hover span,
.nome_autore:hover span{
    text-decoration: underline;
}

#like:hover .far.fa-heart,
#folder:hover .far.fa-folder{
    color: #fff;
}

/* tasti e barra player  */
#player{
    width: 38%;
    min-width: 135px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#tasti_player{
    width: 135px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-size: 15px;
}

#tasti_player .fas{
    cursor: pointer;
}

#play_barra .far.fa-play-circle{
    font-size: 25px;
    cursor: pointer;
}

#play_barra:hover .far.fa-play-circle{
    transform: scale(1.2);
}

#barra_minuti{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barra_minuti .bar{
    margin: 0 7px;
}
.minuti{
    width: 12px;
    font-size: 7px;
}

@media screen and (min-width: 361px) {
    nav{
        height: calc(100vh - 60px);
        width: 200px;
        padding: 0 10px;
    }

    #menu {
    width: 100%;
    height: calc(100% - 80px);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }

    #logo_piccolo{
        display: none;
    }

    #logo_grande{
        display: block;
        margin-bottom: 10px;
    }


    /* user e download */
    #setting{
        align-items: flex-start;
    }
    
    #download{
        flex-direction: row;
        border-bottom: solid 1px rgb(109, 109, 109);
    }  
    
    #down_icona{
        margin-right: 5px;
    }

    #download span{
        display: block;
    }

    #download:hover span{
        color: #fff;
    }

    #user{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    #user h4{
        display: block;
        margin-left: 10px;
    }

    /* parte centrale  */
    .main_destro{
        height: 100%;
        width: calc(100% - 200px);
        left: 200px;
    }

    #up_piano{
        width: calc(100% - 200px);
        left: 200px;
        z-index: 2;
    }
}
